#notification {
	position: fixed;
	z-index: 20;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	border-radius: 5px;
	padding: 10px 5px;
	font-size: 14px;
	width: 330px;
	font-weight: bold;
	text-align: center;
	transition: top .5s;
}