.cart-item {
	border: 1px solid black;
	width: 350px;
	display: flex;
	align-items: center;
}

.toggle-add-to-cart {

}

.item {
	border: 1px solid red;
	display: flex;
}

.img-wrapper {
	border: 1px solid green;
	width: 100px;
	height: 100px;
}

.img-wrapper img {
	object-fit: contain;
}