.result-indicator {
	text-align: center;
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
}

.result-indicator::after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	background: #f5a23d;
	margin: 9px auto 0;
}

.items {
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: rgba(245, 245, 244, 0.432);
}



@media (max-width: 599px) {

	.items {
		padding: 0;
		
	}

}