.result-indicator {
	text-align: center;
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
}

.items {
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: rgba(245, 245, 244, 0.432);
}