.product-loading-anim {
	height: 150px;
	width: 100%;
	background: #f3f3f3;
	position: relative;
	border-radius: 5px;
}

.product-loading-anim i {
	position: absolute;
	font-size: 45px;
	top: 50%;
	left: 50%;
	color: #f5a23d;
	transform: translate(-50%, -50%);
	animation: spin 2s ease-out infinite;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}