li {
	list-style: none;
}

.category {
	padding: 10px;
	display: block;
	width: 100%;
	border: 1px solid #f5a23d;
	color: #f5a23d;
	margin-top: 5px;
	border-radius: 5px;
	background: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

.category:hover {
	background: #f5a23d;
	color: #fff;
}

.category:focus {
	outline: none;
}


@media (min-width: 600px) and (max-width: 896px) {

	.category {
		color: black;
		border: none;
		margin: 0;
		padding: 15px 0;
		border-radius: 0;
	}

}