li {
	list-style: none;
	font-variant: small-caps;
	font-size: 18px;
}

button {
	padding: 10px;
	display: block;
	width: 100%;
	border: none;
	margin-top: 5px;
	border-radius: 5px;
}

button:hover {
	/* background: #d6d5d4; */
	background: #f5a23d;
	color: #fff;
}

button:focus {
	outline: none;
}