li {
	list-style: none;
}

button {
	padding: 10px;
	display: block;
	width: 100%;
	border: 1px solid #f5a23d;
	color: #f5a23d;
	margin-top: 5px;
	border-radius: 5px;
	background: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}

button:hover {
	background: #f5a23d;
	color: #fff;
}

button:focus {
	outline: none;
}