header {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f5a23d;
	color: white;
}

.logo {
	font-size: 30px;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-weight: 550;
}

header ul li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}

header ul li button {
	border: none;
	text-decoration: none;
	background: rgba(37, 37, 37, 0.452);
	padding: 8px 15px;
	color: white;
	border-radius: 5px;
}

header ul li button:focus {
	outline: none;
}

.content {
	display: flex;
}

.fa-bars {
	display: none;
}

/* Categories */
.categories {
	min-width: 250px;	
	height: 100vh;
	padding: 20px 15px;
	font-family: 'Noto Sans', sans-serif;
}

#toggleCategories {
	display: none;
}

.categories label {
	display: block;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.categories label::after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	background: #f5a23d;
	margin: 9px auto 0;
}

.categories ul {
	background: white;
}

.products {
	/* width: 800px; */
	/* flex-grow: 1; */
	width: 100%;
	box-shadow: 0 1px 1px black;
}

.cart {
	min-width: 300px;
	padding: 20px 0;
}

#toggleCart {
	display: none;
}

.cart > label {
	display: block;
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.cart > label::after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	background: #f5a23d;
	margin: 5px auto 0;
}

.cart-items {
	padding: 0 5px;
	background: white;
}





@media (min-width: 768px) and (max-width: 896px) {

	.content {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	/* .content > div {

	} */

	.categories, .cart {
		background: white;
		width: 47%;
		position: sticky;
		position: -webkit-sticky;
		top: 5px;
		left: 0;
		z-index: 5;
		margin: 5px 10px;
		border-radius: 10px;
		transition: all .3s;
	}

	.categories:hover, .cart:hover {
		background: #f5a23d;
		color: white;
	}

	.categories {
		order: 1;
		height: fit-content;
		padding: 20px 0;
	}

	#toggleCategories:checked ~ ul {
		display: block;
	}

	.categories label {
		margin: 0;
		padding: 0;
	}

	.categories label::after {
		display: none;
	}

	.categories ul {
		display: none;
		width: 100%;
	}

	#toggleCart:checked ~ ul {
		display: none;
	}

	.products {
		order: 3;
		width: 100%;
	}

	.cart {
		order: 2;
	}

	.cart label {
		margin: 0;
		padding: 0;
	}

	.cart label::after {
		display: none;
	}

	.cart-items {
		display: block;
	}

	.categories ul, .cart .cart-items {
		position: absolute;
		margin-top: 25px;
	}

	#toggleCart:checked ~ .cart-items {
		display: none;
	}

}