@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

header {
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f5a23d;
	color: white;
}

.logo {
	font-size: 30px;
	letter-spacing: 2px;
	font-variant: small-caps;
	font-weight: 550;
}

header ul li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}

header ul li a {
	text-decoration: none;
	background: rgb(37, 37, 37);
	padding: 8px 15px;
	color: white;
	border-radius: 5px;
}

.content {
	display: flex;
	
}

.fa-bars {
	display: none;
}

/* Categories */
.categories {
	width: 250px;	
	padding: 10px 15px;
	font-family: 'Noto Sans', sans-serif;
	box-shadow: 0 0 1px black;
}

.categories p {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
